force-app/main/default/flows/TablePaymentScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>CreateProductOrdersTextList</name>
        <label>Create ProductOrders Text List</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>productOrderTextList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productOrderTextList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProductOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetOrderId</name>
        <label>Get Order Id</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>orderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOrders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOrders.TotalValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrderStatusPaid</name>
        <label>Update Order Status to Paid</label>
        <locationX>264</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>orderToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOrdersUpdatePaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderToUpdate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pago</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ordersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrdersUpdatePaid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateTableStatusWaintingClean</name>
        <label>Update Table Status to Wainting Clean</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aguardando Limpeza</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.MainOrder__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrdersUpdatePaid</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formulaText</name>
        <dataType>String</dataType>
        <expression>TEXT({!LoopProductOrders.Quantity__c})&amp;&apos;x - &apos; &amp;{!LoopProductOrders.Produto__r.Name}&amp; &apos; R$: &apos; &amp; TEXT({!LoopProductOrders.TotalValue__c})</expression>
    </formulas>
    <interviewLabel>Table - PaymentScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Table - PaymentScreen</label>
    <loops>
        <name>LoopOrders</name>
        <label>Loop Orders</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>GetOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetOrderId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetProductOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOrdersUpdatePaid</name>
        <label>Loop Orders to Update to Paid</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <collectionReference>GetOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateOrderStatusPaid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProductOrders</name>
        <label>Loop ProductOrders</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>GetProductOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateProductOrdersTextList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PaymentScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOrders</name>
        <label>Get Orders</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Table__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductOrders</name>
        <label>Get Product Orders</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProductOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pedido__c</field>
            <operator>In</operator>
            <value>
                <elementReference>orderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOrder</name>
        <label>Update Order</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <inputReference>ordersToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTable</name>
        <label>Update Table</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>UpdateOrder</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>PaymentScreen</name>
        <label>PaymentScreen</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateTableStatusWaintingClean</targetReference>
        </connector>
        <fields>
            <name>PaymentScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TableCode</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Código da Mesa:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!recordId.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PaymentScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ValueToPay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Valor a ser Pago:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!totalValue}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>QRCode</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>QRCodePaymentScreen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProductsInOrder</name>
            <fieldText>Produtos Dentro do Pedido</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ProductsInOrder_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductsInOrderText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!productOrderTextList}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Pagamento Finalizado</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOrders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>orderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ordersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>orderToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>productOrderTextList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Table__c</objectType>
    </variables>
    <variables>
        <name>totalValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
