comsy-main/force-app/main/default/flows/TableCreateOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AddProductOrdersTextList</name>
        <label>Add ProductOrders Text List</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>productOrderTextList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productOrderTextList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFilterValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentFirstOrderProduct</name>
        <label>Assignment First Order Product</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>productOrderToCreate.Produto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopFirstFilterValues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productOrderToCreate.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productOrderToCreate.Observation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObservationFirstScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productsOrderToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productOrderToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalValueFirstScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFirstProductOrdersTextList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentOrderId</name>
        <label>Assignment OrderId</label>
        <locationX>490</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>productOrderWithOrderIdToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOrderProductsToPutOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productOrderWithOrderIdToCreate.Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productsOrderWithOrderIdToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productOrderWithOrderIdToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderProductsToPutOrderId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentOrderProduct</name>
        <label>Assignment Order Product</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>productOrderToCreate.Produto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopFilterValues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productOrderToCreate.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductChoiceQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productOrderToCreate.Observation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productsOrderToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productOrderToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalValueFromAddProductOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProductOrdersTextList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateFirstProductOrdersTextList</name>
        <label>Create First ProductOrders Text List</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>productOrderTextList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstFormulaText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productOrderTextList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFirstFilterValues</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Nao</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nao</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>FilterProductByChoicedFirstProductChoiceScreen</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Product By Choiced in FirstProductChoiceScreen</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_FilterProductByChoicedFirstProductChoiceScreen</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterProductByChoicedFirstProductChoiceScreen.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Product</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>LoopFirstFilterValues</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FilterProductByChoicedProductChoiceScreen</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Product By Choiced in ProductChoiceScreen</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_FilterProductByChoicedFirstProductChoiceScreen</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterProductByChoicedFirstProductChoiceScreen.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>ProductChoiceProduct</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>LoopFilterValues</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>WantMoreProducts</name>
        <label>Want More Products</label>
        <locationX>226</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>CreateOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>WantMoreProductsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WantMoreProductsPickLists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductChoiceScreen</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProductsToChoice</name>
        <collectionReference>GetProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>firstFormulaText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Quantity})&amp;&apos;x - &apos; &amp;{!LoopFirstFilterValues.Name}&amp; &apos; R$: &apos; &amp; TEXT({!totalValueFirstScreen})</expression>
    </formulas>
    <formulas>
        <name>formulaText</name>
        <dataType>String</dataType>
        <expression>TEXT({!ProductChoiceQuantity})&amp;&apos;x - &apos; &amp;{!LoopFilterValues.Name}&amp; &apos; R$: &apos; &amp; TEXT({!totalValueFromAddProductOrder})</expression>
    </formulas>
    <formulas>
        <name>totalValueFirstScreen</name>
        <dataType>Number</dataType>
        <expression>{!LoopFirstFilterValues.UnitPrice__c} * {!Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalValueFromAddProductOrder</name>
        <dataType>Number</dataType>
        <expression>{!LoopFilterValues.UnitPrice__c} * {!ProductChoiceQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Table - CreateOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Table - CreateOrder</label>
    <loops>
        <name>LoopFilterValues</name>
        <label>Loop Filter Values</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>FilterProductByChoicedProductChoiceScreen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentOrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>WantMoreProductsScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopFirstFilterValues</name>
        <label>Loop First Filter Values</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <collectionReference>FilterProductByChoicedFirstProductChoiceScreen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentFirstOrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WantMoreProductsScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOrderProductsToPutOrderId</name>
        <label>Loop OrderProducts To Put Order Id</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <collectionReference>productsOrderToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentOrderId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateProductOrdersWithOrderId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOrder</name>
        <label>Create Order</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>LoopOrderProductsToPutOrderId</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Table__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalValue__c</field>
            <value>
                <elementReference>totalValue</elementReference>
            </value>
        </inputAssignments>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateProductOrdersWithOrderId</name>
        <label>Create ProductOrders With Order Id</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>UpdateTableWithNewMainOrder</targetReference>
        </connector>
        <inputReference>productsOrderWithOrderIdToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetProducts</name>
        <label>Get Products</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FirstProductChoiceScreen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTableWithNewMainOrder</name>
        <label>Update Table With New Main Order</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinalizedOrders__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Encaminhado Cozinha</stringValue>
            </value>
        </inputAssignments>
        <object>Table__c</object>
    </recordUpdates>
    <screens>
        <name>FirstProductChoiceScreen</name>
        <label>FirstProductChoiceScreen</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FilterProductByChoicedFirstProductChoiceScreen</targetReference>
        </connector>
        <fields>
            <name>FirstProductChoiceScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FirstProductChoiceScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product</name>
                    <choiceReferences>ProductsToChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Produto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FirstProductChoiceScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ObservationFirstScreen</name>
            <fieldText>Observação</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Adicionar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductChoiceScreen</name>
        <label>ProductChoiceScreen</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <connector>
            <targetReference>FilterProductByChoicedProductChoiceScreen</targetReference>
        </connector>
        <fields>
            <name>ProductChoiceScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ProductChoiceScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductChoiceProduct</name>
                    <choiceReferences>ProductsToChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Produto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ProductChoiceScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductChoiceQuantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Observation</name>
            <fieldText>Observação</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Adicionar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WantMoreProductsScreen</name>
        <label>WantMoreProductsScreen</label>
        <locationX>226</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WantMoreProducts</targetReference>
        </connector>
        <fields>
            <name>WantMoreProductsMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Deseja colocar mais produtos no pedido?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WantMoreProductsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WantMoreProductsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>WantMoreProductsScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WantMoreProductsPickLists</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Products</name>
            <fieldText>Produtos</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Products_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>productsText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!productOrderTextList}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProducts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FilterProductByChoicedFirstProductChoiceScreen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>productOrderTextList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productOrderToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderProduct__c</objectType>
    </variables>
    <variables>
        <name>productOrderWithOrderIdToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderProduct__c</objectType>
    </variables>
    <variables>
        <name>productsOrderToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderProduct__c</objectType>
    </variables>
    <variables>
        <name>productsOrderWithOrderIdToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderProduct__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Table__c</objectType>
    </variables>
    <variables>
        <name>totalValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
